{
  "openapi": "3.1.0",
  "info": {
    "title": "ProjexCloud Tenant API Library",
    "version": "2026.08.02",
    "description": "The ProjexCloud API library: every endpoint a tenant application may call, across\n77 SDKs. Generated from the same api_definitions the platform tests against,\nso it cannot describe a route that is not served.\n\nAUTHENTICATION. Most endpoints take a tenant JWT (`Authorization: Bearer <jwt>`)\nobtained from POST /api/auth/login. Machine-to-machine integrations use an application\nAPI key instead (`X-API-Key: pk_live_...`), minted per application so a credential can\nbe revoked without disturbing the others. The gateway is DEFAULT-DENY: an endpoint is\nreachable unauthenticated only if it appears here with `security: []`.\n\nOperator routes (/admin/*) and platform-internal SDKs are deliberately excluded: they reject a tenant JWT, so publishing them would advertise calls that can only fail.",
    "license": {
      "name": "Proprietary — ProjexCloud"
    }
  },
  "servers": [
    {
      "url": "https://cloud.projexlight.com",
      "description": "ProjexCloud managed gateway"
    },
    {
      "url": "http://localhost:4000",
      "description": "Local development gateway"
    }
  ],
  "tags": [
    {
      "name": "connector-twilio-voice",
      "description": "List the tenant's call legs, newest first, optionally filtered by status, direction, or is_voicemail. is_voicemail=true isolates the calls that answering-machine detection classified as reaching voicemail rather than a person. Edge cases: 400 when the tenant_id query param is missing; a tenant with "
    },
    {
      "name": "hdk-camera",
      "description": "Returns the hdk-camera native capability manifest — supported photo formats (jpeg/heic/raw_dng), video codecs (h264/hevc/av1), max photo (48MP) and video (4K@60) resolution, flash/depth-sensor/OCR-passthrough flags, and the iOS/Android native module names the JS bridge must load. The handler is a pu"
    },
    {
      "name": "hdk-diagnostic",
      "description": "Drains the persistent hdk-diagnostic outbox: claims up to `limit` rows from hdk_diagnostic.event where drained_at IS NULL (oldest received_at first, FOR UPDATE SKIP LOCKED), stamps drained_at = now(), and returns the claimed rows plus their count with 200. The body is optional - an absent body or ab"
    },
    {
      "name": "hdk-idp",
      "description": "Registers (upserts) a device identity claim binding a device_uuid to a person_id, optionally storing a biometric template envelope and/or PIN envelope (base64 blobs). Requires device_uuid and person_id; envelopes are optional (a claim with neither credential is accepted). Idempotent upsert on (devic"
    },
    {
      "name": "hdk-image-editor",
      "description": "Returns the hdk-image-editor capability manifest — available tools (crop/rotate/flip/markup/text/blur/sharpen/filter), the five named filters, supported output formats (jpeg/png/heic), and the iOS/Android native module names. The handler is a pure static-metadata read: it takes no body, params or qu"
    },
    {
      "name": "hdk-map",
      "description": "Returns the hdk-map capability manifest — supported overlay types (pin/polyline/polygon/heatmap/cluster), gestures, offline-caching and geofencing flags, routing modes (driving/walking/cycling/transit), and the iOS/Android native module names. The handler is a pure static-metadata read: it takes no "
    },
    {
      "name": "hdk-measure",
      "description": "Lists every measurement recorded for one capture, filtered by the required capture_id query param and returned as { success: true, data: [...] }. QA edge cases: omitting capture_id is a 400, but an unknown or non-existent capture_id is NOT — it returns 200 with an empty array, so \"no such capture\" a"
    },
    {
      "name": "hdk-permissions",
      "description": "Returns the most recent permission-surface snapshot captured for a device - the newest hdk_permissions.surface_snapshot row for that device_uuid by taken_at DESC - including snapshot_id, tenant_id, persona_id, the permission_set JSONB and taken_at. Edge cases: unlike the sibling claims list, a devic"
    },
    {
      "name": "hdk-scanner",
      "description": "Returns the hdk-scanner capability manifest — supported barcode symbologies (qr_code, pdf_417, code_128, ean_13, data_matrix), document-detection and OCR flags, and the iOS/Android native module names, so JS can negotiate scanner availability without calling into native code. The handler is a pure s"
    },
    {
      "name": "hdk-sync",
      "description": "Resolves a two-sided conflict for an event_type by applying that type's registered policy (crdt / lww / merge / event-sourcing / human-review) to input_a and input_b, optionally linking the outcome to a batch_id and an audit_entry_id. Edge cases: the event_type MUST already be registered via PUT /ap"
    },
    {
      "name": "hdk-video-editor",
      "description": "Returns the hdk-video-editor capability manifest — available tools (trim/merge/caption/mute/speed/overlay), output formats (mp4/hevc/webm), max resolution (4K), and the iOS/Android native module names. The handler is a pure static-metadata read: it takes no body, params or query, touches no database"
    },
    {
      "name": "hdk-watermark",
      "description": "Lists every watermark application recorded against one media variant, filtered by the required variant_id query param. QA edge cases: a missing variant_id is a 400, but an unknown variant_id returns 200 with an empty array rather than a 404 — \"no such variant\" and \"variant with no watermarks\" are in"
    },
    {
      "name": "registry-mcp",
      "description": "Single dispatch entry point for the registry MCP service: the caller names a tool and passes its arguments, and the service routes to either a read dispatcher or a write dispatcher depending on whether the name is in the write-tool set. Authentication accepts EITHER an Authorization bearer token or "
    },
    {
      "name": "sdk-agent-runtime",
      "description": "Lists agent_definition rows, optionally filtered by tenant_id and tier, with limit/offset paging. Requires a valid tenant JWT (requireAuth). Edge cases: tenant_id is read from the query string, not the JWT, so an absent tenant_id lists across tenants and a foreign tenant_id is NOT rejected - verify "
    },
    {
      "name": "sdk-ai-gateway",
      "description": "Non-streaming LLM completion. Pipeline: route resolution -> PII redaction -> credential unwrap -> retry-wrapped provider call -> ai_gateway.completion insert + ai-gateway.complete.v1 audit. Closes AC-1."
    },
    {
      "name": "sdk-analytics",
      "description": "Exports an already-materialized dataset build to the warehouse / object store, optionally targeting a named destination via body.target (omitting it uses the configured default). Edge cases: an unknown build_id or a build owned by another tenant returns 404; the body is entirely optional; re-exporti"
    },
    {
      "name": "sdk-api-keys",
      "description": "Issues a new API key for a tenant with an explicit scope list and optional rate limit and expiry, returning 201 with the key record plus the one-time plaintext secret. Edge cases: tenant_id is required and scopes must be a non-empty array of strings — an empty array, a non-array, or an array contain"
    },
    {
      "name": "sdk-approval",
      "description": "Gateway-composed inbox of PENDING approval requests for a tenant, oldest-first. Optional ?assignee_persona_id= narrows it to requests having at least one undecided step assigned to that persona — note assignment lives on approval.step, not on the request. Edge cases: ?tenant_id= is REQUIRED (400 if "
    },
    {
      "name": "sdk-asset",
      "description": "Lists the commands issued against one asset, scoped to the caller's tenant taken from the JWT tenant_id claim, and returns 200 with the array. Because the tenant comes from the token, a caller cannot read another tenant's command history through this route. Edge cases: a token with no tenant_id clai"
    },
    {
      "name": "sdk-assignment",
      "description": "Auto-assign a task to the best-fit persona. The skill, availability-window and per-day capacity gates always run first; then the chosen strategy selects the winner. strategy='default' (or omitted) keeps the primary->backup + distance + capacity scoring; strategy='round_robin' cycles fairly through e"
    },
    {
      "name": "sdk-audit",
      "description": "Appends a hash-chained immutable entry to a per-pool audit chain, updating audit.chain_head in the same transaction; returns 201 with the new entry id/seq/hashes. actor_id comes from the JWT subject (defaults \"unknown\"); actor_kind defaults \"human\". Edge cases: missing pool_index/event_type/payload,"
    },
    {
      "name": "sdk-billing",
      "description": "Generates an invoice for the caller's tenant over a closed billing period using a named rate catalog, returning 201 with the invoice and its line items. tenant_id is always taken from the verified JWT and never from the body, because invoice generation exposes financial PII. Edge cases: catalog_id i"
    },
    {
      "name": "sdk-campaign",
      "description": "Creates a journey (an ordered step list stored as opaque jsonb) under a campaign. The handler does no body validation: an omitted steps array defaults to [], and step contents are never schema-checked here - downstream workers interpret them. Edge cases: an unknown or non-UUID campaign_id fails the "
    },
    {
      "name": "sdk-command",
      "description": "Ingests a command acknowledgement/result FROM the robot edge agent. Unlike the other command routes this handler has no requireAuth preHandler: the bearer token is expected to be the per-robot scoped credential minted by POST /api/assets/:asset_id/credentials and is verified inside ackCommandWithCre"
    },
    {
      "name": "sdk-config",
      "description": "Lists active config rows for a scope. scope query param is required; scope_id defaults to the caller's tenant for tenant scope. Tenant JWT required. Edge cases: scope must be platform|tenant|app|app_user (400)."
    },
    {
      "name": "sdk-connectors",
      "description": "Replay dead-lettered connector-sync items from the DLQ (connectors.sync_deadletter). With a deadletter_id it replays that single item (404 if unknown or already resolved); with tenant_id (and optional connector_kind) it bulk-replays every still-dead-lettered item for that tenant and returns replayed"
    },
    {
      "name": "sdk-consent",
      "description": "Returns the consent.purpose catalogue (purpose_id, app_id, description, legal_basis, default_jurisdictions, created_at) ordered by purpose_id and hard-capped at 200 rows. Gated by the gateway default-deny authGate, so a valid tenant JWT is required. Edge cases: tenant_id is required as a query param"
    },
    {
      "name": "sdk-content",
      "description": "Archives a content item (a soft state change; the row and its versions are retained and still readable via GET). Takes no body. Edge cases: an unknown :item_id returns 404; a non-UUID :item_id fails in Postgres as a 500; there is no already-archived guard, so repeating the call returns 200 with the "
    },
    {
      "name": "sdk-conversation",
      "description": "Evaluates whether the tenant may compose on each requested channel, returning allow|review|deny per channel plus an ORDERED, human-readable reason list — never a bare boolean (AC1). It is an action endpoint, not a create, so the success status is 200. The ordering is the contract: reasons a human ca"
    },
    {
      "name": "sdk-coverage",
      "description": "Who catches the work when the primary does not accept in time. acceptance_window_minutes is how long the primary has before it falls to the backup; zero would mean the backup is notified simultaneously, which is a different arrangement and should be said explicitly rather than arrived at through an "
    },
    {
      "name": "sdk-crm",
      "description": "Log a call on the contact/lead timeline with its structured telephony fields: direction, disposition, duration, phone number, recording url + recording consent, and the provider call id. Emits crm.call.missed.v1 when the disposition means nobody picked up (no_answer/busy/failed) and crm.call.logged."
    },
    {
      "name": "sdk-data-credits",
      "description": "Quotes one capability for this tenant before anything is held: the credit price, the credits currently available (balance minus the part already reserved for in-flight requests) and an explicit affordable flag. The flag is stated rather than left to the caller to compute, because a caller that gets "
    },
    {
      "name": "sdk-data-rights",
      "description": "Records the terminal outcome of a single DSAR execution: status is required and is expected to be 'succeeded' or 'failed', with an optional audit_entry_id sealing the proof and an optional error_detail on failure. Edge cases: a missing status -> 400 (note the value itself is not enum-checked at the "
    },
    {
      "name": "sdk-deliverability",
      "description": "List a tenant's processed provider bounce/complaint events (newest first), optionally filtered by classification. tenant_id query param required."
    },
    {
      "name": "sdk-device",
      "description": "Registers a device, returning 201 with the device record. The insert is an upsert on device_uuid: re-registering an existing device updates os_version, app_version and last_seen_at and COALESCEs device_key_ref (an omitted key ref preserves the stored one) rather than conflicting - so the call is ide"
    },
    {
      "name": "sdk-diagnostic-telemetry",
      "description": "Lists the crash snapshots recorded for one device, selected by the required device_uuid query param. Edge cases: a missing device_uuid query param -> 400; a device_uuid with no crashes is NOT a 404 - it returns 200 with an empty data array; the endpoint accepts no pagination or time-window params, s"
    },
    {
      "name": "sdk-dispatch",
      "description": "P7 FR-DSP-3 — optimizes a dispatcher's stop order for a set of tasks: loads each task's lat/lng, runs nearest-neighbour plus a 2-opt improvement pass, estimates drive time from DISPATCH_AVG_SPEED_KMH (default 35), persists a dispatch.route row and returns {route_id, persona_id, stops[], optimized_at"
    },
    {
      "name": "sdk-engagement",
      "description": "Fetches one encounter by encounter_id, returning the full row: state, vault_key_ref, opened_at/closed_at/sealed_at, retention_policy, retention_expires_at, and the parent/address/billing references. QA edge cases: an unknown encounter_id returns a bare 404 { error: 'NotFound' } with no details array"
    },
    {
      "name": "sdk-event",
      "description": "Checks a ticket in at the door by its qr_token, atomically transitioning the ticket issued -> used and inserting a checkin row; a UNIQUE constraint on checkin.ticket_id backstops double check-in. qr_token and checked_in_by_persona_id are required; device_uuid is optional and stored as null when abse"
    },
    {
      "name": "sdk-evidence",
      "description": "Lists every evidence capture belonging to one encounter, selected by the required encounter_id query param. Gated by the gateway default-deny authGate, so a valid tenant JWT is required. Edge cases: encounter_id is mandatory and its absence (or an empty value) is a 400, since the route would otherwi"
    },
    {
      "name": "sdk-feature-flags",
      "description": "Evaluates a flag for an evaluation context (tenant_id, persona_id, bu_id, arbitrary attributes) and returns resolved_value, matched_rollout_id and kill_switch_engaged. Resolution order: kill switch first, then active rollouts ordered tenant-specific-first by ascending priority whose predicate matche"
    },
    {
      "name": "sdk-geo",
      "description": "Reads one canonical address row by address_id and returns 200 with { data: { address } }. Read-only, requires a valid JWT; the record is not tenant-scoped (geo.address is a platform-wide canonical table), so any authenticated caller can read any address_id. Edge cases: unknown but well-formed UUID r"
    },
    {
      "name": "sdk-handoff",
      "description": "List handoffs for a tenant, most-recently-updated first. Tenant-scoped via the required tenant_id query param; optionally filtered by status and/or deal_id, with limit/offset paging (defaults 50/0)."
    },
    {
      "name": "sdk-identity",
      "description": "Verifies an email + password credential and mints a six-layer JWT. Public - the gateway authGate allowlists /api/auth/login, so no bearer token is needed. An optional tenant_id selects the tenant context from the person memberships, and an optional app_id auto-mints the L2 AppIdentity on first per-a"
    },
    {
      "name": "sdk-identity-resolver",
      "description": "Records a steward's approve/reject decision on a candidate link's open approval step and labels the match outcome for calibration. step_id is required and decision must be exactly 'approve' or 'reject' (any other value, including a missing one, is a 400); reason is optional. The deciding persona com"
    },
    {
      "name": "sdk-import",
      "description": "List a tenant's mapping templates, grouped by slug with the newest version first, optionally narrowed by slug, kind or active flag. limit is clamped to 1..500 (default 50). Required: tenant_id query param."
    },
    {
      "name": "sdk-incident",
      "description": "List incidents for a tenant, most-recently-updated first. Tenant-scoped via the required tenant_id query param; optionally filtered by status, severity and/or owner_persona_id, with limit/offset paging (defaults 50/0)."
    },
    {
      "name": "sdk-ingest",
      "description": "sdk-ingest batch front door. Accepts an envelope { entity, mode: upsert|insert, idempotency_key, records[] } and imports records into the target entity. Records provenance via sdk-lineage and an append-only entry via sdk-audit. Returns per-record results { imported, skipped, errors[] }."
    },
    {
      "name": "sdk-lead-scoring",
      "description": "Resolves the currently active model for a (tenant_id, vertical) pair, ordered by trained_at DESC NULLS LAST and limited to one row. Both query params are required. QA edge cases: a tenant/vertical pair with no active model returns 404 'no active model' — distinct from the 400 you get when the params"
    },
    {
      "name": "sdk-mcp-bridge",
      "description": "Liveness probe for sdk-mcp-bridge; returns 200 with { sdk: \"sdk-mcp-bridge\", status: \"ok\" }. It is a constant-response handler with no database, no body parsing and no branches, so it cannot fail with a 4xx/5xx. The path ends in /health, so the api-gateway default-deny authGate treats it as public -"
    },
    {
      "name": "sdk-media",
      "description": "Commits an upload: the client reports the SHA-256 it computed and the blob transitions to ready. Returns 200 with the updated blob. checksum_hex must be exactly 64 hex characters (an optional 0x prefix is stripped before the check). The blob's tenant is asserted against the JWT tenant_id claim, so c"
    },
    {
      "name": "sdk-meter",
      "description": "Returns the per-day metered usage rollup for one robot/sensor asset from meter.robot_usage_day, scoped to the tenant on the caller's JWT: rows of asset_id, sensor_id (NULL for asset-level usage), day, sku and units, ordered day DESC then sku ASC, wrapped in a {success, data} envelope. Edge cases: th"
    },
    {
      "name": "sdk-notification",
      "description": "List a tenant's provider delivery-status receipts (newest first), optionally filtered by status. tenant_id query param required."
    },
    {
      "name": "sdk-offer-catalog",
      "description": "Create a stable offer identity (name + unique slug); content lives in immutable versions. Slug is unique per tenant (duplicate -> 409). tenant_id, name and slug required."
    },
    {
      "name": "sdk-parsing",
      "description": "Runs contact extraction over up to 100 captures in one request, each with its own source_kind and raw. An action endpoint returning 200; nothing is persisted. Per-item isolation is the point: ONE malformed item does not fail the batch, because a caller pasting forty signatures should not lose thirty"
    },
    {
      "name": "sdk-payment",
      "description": "Captures a charge against a stored payment method via the provider. Requires a valid tenant JWT (requireAuth); tenant_id is forced from the JWT and any body tenant_id is ignored. The success status is conditional: 201 when the provider result is \"captured\", 200 for any other terminal status (for exa"
    },
    {
      "name": "sdk-persona",
      "description": "Fetches one L2 app_identity row by its app_identity_id path param. Requires a valid tenant JWT (requireAuth). Edge cases: the lookup is by primary key only - the caller JWT tenant is never compared to the row, so any authenticated caller can read any app_identity and tenant scoping is not enforced h"
    },
    {
      "name": "sdk-policy",
      "description": "Creates a versioned policy bundle (name + version + IQL source, with optional obligations) per FR-POL-4 and returns 201. Requires a valid tenant JWT (requireAuth). Edge cases: name, version and iql_source are all mandatory presence checks; obligations, when present, must be an object and each sub-fi"
    },
    {
      "name": "sdk-profile",
      "description": "Reads one L2 profile band (the encrypted fields_envelope) for an app identity and band kind, returning 200 with { data: { band } }. band_kind is validated against the closed set profile | preference | notification_routing before the query runs. Edge cases: an unrecognised band_kind is a 400 (not a 4"
    },
    {
      "name": "sdk-projection",
      "description": "Rebuilds a subject's projection FROM the assertion log rather than patching it, and persists a snapshot plus a content hash. An action endpoint and idempotent, so 200 on the first call and on every repeat — a repeat is expected, not an error. Proves all four criteria. AC1: patching would require kno"
    },
    {
      "name": "sdk-rebac",
      "description": "Evaluates whether a subject_persona_id can reach a target_persona_id via a relationship of the given kind, running a bounded graph traversal and returning a decision plus budget usage. Requires subject_persona_id, target_persona_id and kind (all trimmed). Optional budget object, if present, MUST hav"
    },
    {
      "name": "sdk-scheduling",
      "description": "Push a single appointment to a connection's external calendar, creating the external event or updating/cancelling it if already mapped (this is how reschedule/cancel propagate to the provider). Records the appointment <-> external event mapping. tenant_id and connection_id required."
    },
    {
      "name": "sdk-search",
      "description": "POST form of the search query endpoint: accepts a full search DSL body (query/size/from/sort) instead of the flat query-string form, then runs the same ABAC-filtered execution as GET /api/search. tenant_id comes from the verified JWT and effective_scopes are resolved server-side from JWT claims — an"
    },
    {
      "name": "sdk-secrets",
      "description": "Looks up a SecretRef in the catalog by its ref string, which is URL-encoded in the path and decoded by the handler. Returns the catalog record (ref, scope, kms_key_id, rotation metadata) and never the secret material itself. Requires a valid tenant JWT (requireAuth). Edge cases: the ref path segment"
    },
    {
      "name": "sdk-sequence",
      "description": "Create a reusable message template (subject/body per channel) that sequence steps can reference. tenant_id and name are required; channel defaults to 'email'. UNIQUE per (tenant, name)."
    },
    {
      "name": "sdk-service-request",
      "description": "Creates a service-request queue for a tenant with a display name and an optional numeric routing priority, returning the created queue with 201. Edge cases: tenant_id and name are both mandatory and a missing one produces the generic \"missing fields\" ValidationError; priority is optional and default"
    },
    {
      "name": "sdk-sla",
      "description": "Live clocks approaching or past their deadline, ordered by how close that deadline is — a queue that does not put the next breach first is a list rather than a queue. Each row carries minutes_to_due, is_overdue, how many rungs have already fired, the highest severity fired so far and the NEXT rung w"
    },
    {
      "name": "sdk-social",
      "description": "Authorizes a social network handle for a tenant and binds it to the persona permitted to act on it, returning 201 with the handle record. Edge cases: tenant_id, network, external_handle_id and authorized_persona_id are all mandatory and a missing one returns the generic \"missing fields\" ValidationEr"
    },
    {
      "name": "sdk-source-record",
      "description": "Replace a claim by inserting the successor and STAMPING the prior row (status=SUPERSEDED, superseded_by, superseded_at) in one transaction. The prior value, dates, origin and confidence are never touched — the database trigger rejects any other UPDATE and every DELETE — so both claims stay queryable"
    },
    {
      "name": "sdk-taxonomy",
      "description": "Looks up the active extraction schema for a document_kind, resolving the tenant-specific override first and falling back to the platform-default schema when tenant_id is omitted or has no override. Edge cases: document_kind is a required query param and its absence is a 400; tenant_id is optional an"
    },
    {
      "name": "sdk-tenant",
      "description": "Creates a node in the tenant.geo_node residency tree (region > country > state > city > locality), used to place tenants for data-residency separately from pool_index. Requires name and a kind from the CHECK-constrained enum; residency_class defaults to 'open', code and parent_geo_node_id are option"
    },
    {
      "name": "sdk-tenant-lifecycle",
      "description": "Starts tenant offboarding and stamps a data-retention deadline, defaulting to 30 days from now (per FR-TLC-6) when deadline_at is omitted, and returns the resulting lifecycle state. Edge cases: ownership is checked first — a JWT whose tenant_id and parent_tenant_id both differ from the path tenant_i"
    },
    {
      "name": "sdk-trace",
      "description": "Signed PDF/JSON trace export. Persists trace.export with artifact_s3_key + HMAC signature; emits trace.export.requested.v1 + trace.export.ready.v1 (operational retention)."
    },
    {
      "name": "sdk-vault",
      "description": "Reverses POST /api/vault/encrypt: unwraps the DEK via the secret reference and decrypts the bundle, returning 200 with { plaintext_b64 }. All five of ref, ciphertext_b64, wrapped_dek_b64, iv_b64 and tag_b64 are mandatory non-empty strings - every missing field is reported in the same 400 details arr"
    },
    {
      "name": "sdk-webhook",
      "description": "Lists a tenant's dead-lettered webhook deliveries — the handler delegates to listDlq, so this is the DLQ view rather than all delivery attempts. Edge cases: ?tenant_id= is REQUIRED and is caller-asserted from the query string, not the JWT, so omitting it is a 400; ?limit= is passed through Number() "
    },
    {
      "name": "sdk-workflow",
      "description": "Registers or upserts a workflow definition (name, optional version/namespace, and step_specs) and returns 201 with the stored definition. Requires a valid tenant JWT (requireAuth). Edge cases: name is mandatory and step_specs must be a non-empty array whose every entry is shaped {name: string, compe"
    },
    {
      "name": "semantic-service",
      "description": "Lists every registered cross-domain bridge (semantic.cross_domain_bridge) as {success:true, data:[...]} with bridge_id, from_object_type_id, to_object_type_id, access_mode and requires_cross_tenant_consent. QA edge cases: the handler takes no query parameters — it is a global, unfiltered, unpaginate"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Tenant JWT from POST /api/auth/login. Carries the six-layer claim set (tenant_id, app_id, persona ids); authority comes from the persona and its ReBAC grants rather than from scopes on the token."
      },
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Application credential presented as `Authorization: Bearer pk_live_...` (or pk_test_). Minted per application, so one can be revoked without disturbing the others. live/test is a property of the APPLICATION, not the key, so a test credential can never reach production data. NOTE: credential-management routes (/api/applications, /api/api-keys) deliberately require a human JWT and reject a key — a key that can mint another key cannot be contained by revoking it."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/agent-runtime/agents": {
      "get": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "List agent definitions",
        "description": "Lists agent_definition rows, optionally filtered by tenant_id and tier, with limit/offset paging. Requires a valid tenant JWT (requireAuth). Edge cases: tenant_id is read from the query string, not the JWT, so an absent tenant_id lists across tenants and a foreign tenant_id is NOT rejected - verify tenant scoping deliberately; limit/offset go through parseInt so a non-numeric or empty value yields NaN and surfaces as a 500 \"List failed\" rather than a 400; an unknown tier value or a tenant with no definitions returns 200 with an empty array, not a 404; a malformed non-UUID tenant_id fails the Postgres uuid cast and becomes a 500.",
        "operationId": "get_api_agent_runtime_agents",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "status": "active"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "ListFailed — List failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Create agent definition",
        "description": "Create an agent_definition. Required: name, acting_persona_id, tier, vector_namespace, created_by. Returns the row including server-generated agent_id + timestamps.",
        "operationId": "post_api_agent_runtime_agents",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "tenant_id": null,
                    "name": "Acme QA Sample",
                    "description": "QA automation agent definition",
                    "acting_persona_id": "{{var:acting_persona_id}}",
                    "agent_scope": [],
                    "default_ttl_seconds": 30,
                    "tier": "sync",
                    "kill_switch_flag_id": null,
                    "vector_namespace": "agents-qa-ns-default",
                    "tool_manifest": [
                      "crm.contact.create"
                    ],
                    "created_by": "qa-automation",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Required: name, acting_persona_id, tier, vector_namespace, created_by"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "CreateFailed — Create failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {
                    "nullable": true
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "acting_persona_id": {
                    "type": "string"
                  },
                  "agent_scope": {
                    "type": "array",
                    "items": {}
                  },
                  "default_ttl_seconds": {
                    "type": "integer"
                  },
                  "tier": {
                    "type": "string"
                  },
                  "kill_switch_flag_id": {
                    "nullable": true
                  },
                  "vector_namespace": {
                    "type": "string"
                  },
                  "tool_manifest": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "created_by": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "tenant_id": null,
                "name": "<generated name>",
                "description": "QA automation agent definition",
                "acting_persona_id": "{{var:acting_persona_id}}",
                "agent_scope": [],
                "default_ttl_seconds": 30,
                "tier": "sync",
                "kill_switch_flag_id": null,
                "vector_namespace": "agents-qa-ns-default",
                "tool_manifest": [
                  "crm.contact.create"
                ],
                "created_by": "qa-automation"
              }
            }
          }
        }
      }
    },
    "/api/agent-runtime/health": {
      "get": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Agent runtime health check",
        "description": "Static liveness probe for sdk-agent-runtime; returns {sdk:\"sdk-agent-runtime\", status:\"ok\"} with no DB or downstream call. Public: the gateway authGate allowlists any path ending in /health, so it answers 200 with no Authorization header, with a malformed or expired bearer token, and regardless of tenant. Edge cases: the body is a constant so no data path can 404 or 500; query strings and extra headers are ignored; a non-GET verb on this path is a Fastify 404 route-miss rather than a handler error.",
        "operationId": "get_api_agent_runtime_health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "health_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "status": "active"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid credential"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/agent-runtime/runs": {
      "get": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "List agent runs",
        "description": "Lists agent_run rows, optionally filtered by tenant_id, agent_id and status, with limit/offset paging. Requires a valid tenant JWT (requireAuth). Edge cases: filters come from the query string, not the JWT, so omitting tenant_id lists across tenants and a foreign tenant_id is not rejected - tenant scoping must be tested explicitly; limit/offset go through parseInt, so a non-numeric value becomes NaN and surfaces as a 500 \"List failed\" instead of a 400; an unknown status value or an agent_id with no runs returns 200 with an empty array rather than a 404; a non-UUID tenant_id or agent_id fails the uuid cast and yields a 500.",
        "operationId": "get_api_agent_runtime_runs",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "run_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "status": "active"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "ListFailed — List failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Start agent run",
        "description": "Start an agent_run. Computes ttl_deadline from agent's default_ttl_seconds, materialises agent_chain from parent_run_id, emits agent.run.started.v1 (regulated retention) with chain as actor provenance.",
        "operationId": "post_api_agent_runtime_runs",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "run_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "persona_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "trace_id": "{{var:trace_id}}",
                    "parent_run_id": null,
                    "ttl_seconds": 300,
                    "actor_id": "{{var:operator_id}}",
                    "actor_kind": "human",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Required: agent_id, persona_id, trace_id, actor_id, actor_kind"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "NotFound — <entity> not found"
          },
          "500": {
            "description": "InternalError — Start run failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agent_id": {
                    "type": "string"
                  },
                  "persona_id": {
                    "type": "string"
                  },
                  "trace_id": {
                    "type": "string"
                  },
                  "parent_run_id": {
                    "nullable": true
                  },
                  "ttl_seconds": {
                    "type": "integer"
                  },
                  "actor_id": {
                    "type": "string"
                  },
                  "actor_kind": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "agent_id": "<id from agent-runtime-agents>",
                "persona_id": "<id from personas>",
                "trace_id": "{{var:trace_id}}",
                "parent_run_id": null,
                "ttl_seconds": 300,
                "actor_id": "{{var:operator_id}}",
                "actor_kind": "human"
              }
            }
          }
        }
      }
    },
    "/api/agent-runtime/agents/{id}": {
      "get": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Get agent definition",
        "description": "Fetch an agent_definition by id.",
        "operationId": "get_api_agent_runtime_agents_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Missing path param: id"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "NotFound — agent_definition not found"
          },
          "500": {
            "description": "LookupFailed — Lookup failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/agent-runtime/runs/{id}": {
      "get": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Get agent run",
        "description": "Fetch a single agent_run including agent_chain + execution_log_ref.",
        "operationId": "get_api_agent_runtime_runs_id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "run_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Missing path param: id"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "NotFound — agent_run not found"
          },
          "500": {
            "description": "InternalError — Lookup failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/agent-runtime/runs/{run_id}/replay": {
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Replay a freshly-started run (no execution log yet) returns 404",
        "description": "Replay an agent run against the recorded model snapshot. Returns {kind:'matched'|'snapshot-drift'|'diverged', ...}. AC-5. A freshly-started run has no execution_log_entry rows yet (those are appended only by the internal runtime engine, no HTTP producer), so replaying it returns 404 'no execution log entries'.",
        "operationId": "post_api_agent_runtime_runs_run_id_replay",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "run_id path parameter"
          }
        ],
        "responses": {
          "400": {
            "description": "ValidationError — Missing path param: run_id"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "status": "completed",
                    "current_model_snapshot_id": null,
                    "dryRun": true,
                    "replay_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  }
                }
              }
            }
          },
          "500": {
            "description": "InternalError — Replay failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "current_model_snapshot_id": {
                    "nullable": true
                  },
                  "dryRun": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "current_model_snapshot_id": null,
                "dryRun": true
              }
            }
          }
        }
      }
    },
    "/api/agent-runtime/runs/{run_id}/rollback": {
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Roll back a freshly-started run (empty action journal) returns 200",
        "description": "Roll back an agent run by replaying agents.action_journal in reverse from latest step down to ?to_seq=N. Invokes per-action_type compensation handlers. Returns RollbackSummary. AC-8. A freshly-started run has an empty action_journal, so rollback returns 200 with attempted=0.",
        "operationId": "post_api_agent_runtime_runs_run_id_rollback",
        "parameters": [
          {
            "name": "run_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "run_id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "status": "completed",
                    "reason": "Operator-initiated rollback for testing",
                    "actor_id": "{{var:operator_id}}",
                    "rollback_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Missing path param: run_id"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "InternalError — Rollback failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  },
                  "actor_id": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "Operator-initiated rollback for testing",
                "actor_id": "{{var:operator_id}}"
              }
            }
          }
        }
      }
    },
    "/api/agent-runtime/tokens/{token_id}/revoke": {
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Revoke a capability token",
        "description": "Revoke a capability token. Idempotent. Mid-flight tools polling isRevoked() observe the new state and self-cancel. FR-ART-4 / AC-3.",
        "operationId": "post_api_agent_runtime_tokens_token_id_revoke",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "token_id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "status": "completed",
                    "reason": "Operator-initiated revoke for testing",
                    "actor_id": "{{var:operator_id}}",
                    "actor_kind": "human",
                    "revoke_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  }
                }
              }
            }
          },
          "400": {
            "description": "MissingPathParam — Missing path param: token_id"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "RevokeFailed — Revoke failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  },
                  "actor_id": {
                    "type": "string"
                  },
                  "actor_kind": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "reason": "Operator-initiated revoke for testing",
                "actor_id": "{{var:operator_id}}",
                "actor_kind": "human"
              }
            }
          }
        }
      }
    },
    "/api/agent-runtime/tokens/{token_id}/validate": {
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Validate freshly-minted token",
        "description": "Validate a capability token against the args the caller intends to invoke. Checks expiry, single-use, revocation, args binding, signature. Returns valid:true|false with reason. Always HTTP 200 (validity is in the body).",
        "operationId": "post_api_agent_runtime_tokens_token_id_validate",
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "token_id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "status": "completed",
                    "args": {
                      "first_name": "Ada"
                    },
                    "validate_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6"
                  }
                }
              }
            }
          },
          "400": {
            "description": "MissingPathParam — Missing path param: token_id"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "ValidateFailed — Validate failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "args": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "args": {
                  "first_name": "Ada"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-runtime/tokens": {
      "post": {
        "tags": [
          "sdk-agent-runtime"
        ],
        "summary": "Mint capability token",
        "description": "Mint a capability token for one tool invocation. HMAC-SHA256 signed, scope-limited to (agent_id, persona, tool_sku, args_hash, tenant_scope, expires_at), single-use. FR-ART-1..3. tool_sku MUST be in the agent's tool_manifest or the mint is denied with 403 scope_violation.",
        "operationId": "post_api_agent_runtime_tokens",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "token_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "run_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "acting_persona_id": "{{var:acting_persona_id}}",
                    "tool_sku": "crm.contact.create",
                    "args": {
                      "first_name": "Ada"
                    },
                    "tenant_scope": "tenant-default",
                    "ttl_seconds": 60,
                    "actor_id": "{{var:operator_id}}",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "MissingRequiredField — Missing required field: run_id, agent_id, acting_persona_id, tool_sku, args, tenant_scope are required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "403": {
            "description": "scope_violation — scope_violation"
          },
          "500": {
            "description": "MintFailed — Mint failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "run_id": {
                    "type": "string"
                  },
                  "agent_id": {
                    "type": "string"
                  },
                  "acting_persona_id": {
                    "type": "string"
                  },
                  "tool_sku": {
                    "type": "string"
                  },
                  "args": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string"
                      }
                    }
                  },
                  "tenant_scope": {
                    "type": "string"
                  },
                  "ttl_seconds": {
                    "type": "integer"
                  },
                  "actor_id": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "run_id": "<id from agent-runtime-runs>",
                "agent_id": "<id from agent-runtime-agents>",
                "acting_persona_id": "{{var:acting_persona_id}}",
                "tool_sku": "crm.contact.create",
                "args": {
                  "first_name": "Ada"
                },
                "tenant_scope": "tenant-default",
                "ttl_seconds": 60,
                "actor_id": "{{var:operator_id}}"
              }
            }
          }
        }
      }
    },
    "/api/ai-gateway/complete": {
      "post": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Completion records consent + budget + redaction + trace",
        "description": "Non-streaming LLM completion. Pipeline: route resolution -> PII redaction -> credential unwrap -> retry-wrapped provider call -> ai_gateway.completion insert + ai-gateway.complete.v1 audit. Closes AC-1.",
        "operationId": "post_api_ai_gateway_complete",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "complete_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "request": {
                      "model": "gpt-4o-mini",
                      "prompt": "Summarize the onboarding checklist in one sentence.",
                      "max_tokens": 100,
                      "temperature": 0.7,
                      "top_p": 1,
                      "stop_sequences": [],
                      "task_tag": "test",
                      "provider_hint": "openai",
                      "tools": [],
                      "stream": false
                    },
                    "context": {
                      "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "run_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "acting_persona_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "tenant_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "trace_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "span_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "ttl_deadline": "2026-01-15T10:30:00Z",
                      "agent_chain": []
                    },
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Missing required: request, context"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "CompletionFailed — Completion failed"
          },
          "503": {
            "description": "ProviderUnavailable — provider not available / no route matches and no provider_hint supplied"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "max_tokens": {
                        "type": "integer"
                      },
                      "temperature": {
                        "type": "number"
                      },
                      "top_p": {
                        "type": "integer"
                      },
                      "stop_sequences": {
                        "type": "array",
                        "items": {}
                      },
                      "task_tag": {
                        "type": "string"
                      },
                      "provider_hint": {
                        "type": "string"
                      },
                      "tools": {
                        "type": "array",
                        "items": {}
                      },
                      "stream": {
                        "type": "boolean"
                      }
                    }
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "agent_id": {
                        "type": "string"
                      },
                      "run_id": {
                        "type": "string"
                      },
                      "acting_persona_id": {
                        "type": "string"
                      },
                      "tenant_id": {
                        "type": "string"
                      },
                      "trace_id": {
                        "type": "string"
                      },
                      "span_id": {
                        "type": "string"
                      },
                      "ttl_deadline": {
                        "type": "string"
                      },
                      "agent_chain": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                }
              },
              "example": {
                "request": {
                  "model": "gpt-4o-mini",
                  "prompt": "Summarize the onboarding checklist in one sentence.",
                  "max_tokens": 100,
                  "temperature": 0.7,
                  "top_p": 1,
                  "stop_sequences": [],
                  "task_tag": "test",
                  "provider_hint": "openai",
                  "tools": [],
                  "stream": false
                },
                "context": {
                  "agent_id": "<id from agent-runtime-agents>",
                  "run_id": "<id from agent-runtime-runs>",
                  "acting_persona_id": "<id from personas>",
                  "tenant_id": "<id from auth>",
                  "trace_id": "<generated uuid>",
                  "span_id": "<generated uuid>",
                  "ttl_deadline": "<generated futuredatetime>",
                  "agent_chain": []
                }
              }
            }
          }
        }
      }
    },
    "/api/ai-gateway/health": {
      "get": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Health probe returns ok",
        "description": "Liveness probe for sdk-ai-gateway. Returns 200 with the constant body { sdk: 'sdk-ai-gateway', status: 'ok' }. QA edge cases: this path is on the api-gateway public allowlist (isHealth matches any path ending in /health), so it is reachable with NO Authorization header and must NOT return 401 — a 401 here means the authGate allowlist regressed, which is the one regression worth asserting; the handler has no requireAuth preHandler, touches no database, provider or credential store, and takes no parameters, so it reports only that the route is mounted and cannot detect a degraded provider or an unreachable Postgres — 'ok' is not a dependency health signal; it therefore has no error responses of its own.",
        "operationId": "get_api_ai_gateway_health",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "health_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "status": "active"
                    }
                  ],
                  "total": 1
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "internal://sdk-ai-gateway/completionService.emitCompletionEvent": {
      "internal_function": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Tenant credential completion stamps credential_source=tenant and bills 0 markup",
        "description": "Internal (non-HTTP) contract for completionService.emitCompletionEvent, which stamps credential_source ('tenant' or 'platform') into the ai-gateway.complete.v1 / ai-gateway.stream.v1 audit payload so the meter ingest worker knows which SKUs to emit (FR-BYOK-9 / AC-4). On a BYOK call the tenant pays the provider directly, so billed_cost is 0, the ai-gateway.tokens.* markup SKU is suppressed, and only the governance SKU is emitted; on a platform-credential call both SKUs are emitted and billed_cost carries the margin. QA edge cases: the entire emit is wrapped in try/catch and only console.errors on failure, so an audit-ledger outage NEVER fails or degrades the completion — the completion still returns 200 while the billing event is silently lost, which is the revenue-leak scenario to watch for; consequently this function has no error return path of its own; the effect is observable only in the audit ledger payload (credential_source) and the persisted ai_gateway.completion.billed_cost, not in any HTTP response body.",
        "operationId": "internal_function_internal_sdk_ai_gateway_completionService_emitCompletionEvent",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "completionService.emitCompletionEvent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scenario": {
                    "type": "string"
                  },
                  "expected_audit_payload_field": {
                    "type": "string"
                  },
                  "expected_billed_cost": {
                    "type": "integer"
                  },
                  "expected_token_sku_emitted": {
                    "type": "boolean"
                  },
                  "expected_governance_sku_emitted": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "scenario": "tenant_credential",
                "expected_audit_payload_field": "credential_source=tenant",
                "expected_billed_cost": 0,
                "expected_token_sku_emitted": false,
                "expected_governance_sku_emitted": true
              }
            }
          }
        }
      }
    },
    "internal://sdk-ai-gateway/completionService.loadProviderRow": {
      "internal_function": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Tenant active binding → tenant credential",
        "description": "Internal (non-HTTP) contract for completionService.loadProviderRow, the BYOK credential resolver behind /api/ai-gateway/complete and /stream. Resolution order per FR-BYOK-2: (1) an active row in ai_gateway.tenant_provider_credential for (tenant, provider) — but if its model_allowlist is non-null and the requested model is absent from it, treat as no tenant credential and fall through (FR-BYOK-6); (2) the platform row in ai_gateway.provider. QA edge cases: the function NEVER throws — it returns null when neither row exists, and the caller (complete/stream) is what raises '[ai-gateway] provider <id> not available', which the controller maps to HTTP 503; the caching behaviour is the subtle part — results are cached per (tenant, provider) with no model in the key, so a model-allowlist fall-through deliberately bypasses and does not poison the cache, and a test that binds an allowlisted credential then immediately requests a non-allowlisted model must still see the platform credential; a disabled platform row is still returned (status is carried on the row, not filtered in the query), so 'disabled provider' is enforced downstream rather than here; a null/undefined tenant_id skips step 1 entirely and resolves platform-only.",
        "operationId": "internal_function_internal_sdk_ai_gateway_completionService_loadProviderRow",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "completionService.loadProviderRow_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "503": {
            "description": "ProviderNotAvailable — [ai-gateway] provider <provider_id> not available"
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {
                    "type": "string"
                  },
                  "provider_id": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string"
                  },
                  "tenant_binding": {
                    "type": "string"
                  },
                  "expected_credential_source": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "tenant_id": "{{static:00000000-0000-0000-0000-000000000001}}",
                "provider_id": "openai",
                "model": "gpt-4o",
                "tenant_binding": "active",
                "expected_credential_source": "tenant"
              }
            }
          }
        }
      }
    },
    "/api/ai-gateway/stream": {
      "post": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "SSE stream produces chunks and final completion row",
        "description": "Streaming LLM completion (SSE). Yields StreamChunk frames as data: <json>\\n\\n; closes with data: [DONE]\\n\\n. Persists ai_gateway.completion on stream close.",
        "operationId": "post_api_ai_gateway_stream",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "stream_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "request": {
                      "model": "claude-opus-4-7",
                      "prompt": "Stream a short greeting.",
                      "max_tokens": 100,
                      "temperature": 0.7,
                      "top_p": 1,
                      "stop_sequences": [],
                      "task_tag": "test",
                      "provider_hint": "anthropic",
                      "tools": [],
                      "stream": true
                    },
                    "context": {
                      "agent_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "run_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "acting_persona_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "tenant_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "trace_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "span_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "ttl_deadline": "2026-01-15T10:30:00Z",
                      "agent_chain": []
                    },
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — Missing required: request, context"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "request": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string"
                      },
                      "prompt": {
                        "type": "string"
                      },
                      "max_tokens": {
                        "type": "integer"
                      },
                      "temperature": {
                        "type": "number"
                      },
                      "top_p": {
                        "type": "integer"
                      },
                      "stop_sequences": {
                        "type": "array",
                        "items": {}
                      },
                      "task_tag": {
                        "type": "string"
                      },
                      "provider_hint": {
                        "type": "string"
                      },
                      "tools": {
                        "type": "array",
                        "items": {}
                      },
                      "stream": {
                        "type": "boolean"
                      }
                    }
                  },
                  "context": {
                    "type": "object",
                    "properties": {
                      "agent_id": {
                        "type": "string"
                      },
                      "run_id": {
                        "type": "string"
                      },
                      "acting_persona_id": {
                        "type": "string"
                      },
                      "tenant_id": {
                        "type": "string"
                      },
                      "trace_id": {
                        "type": "string"
                      },
                      "span_id": {
                        "type": "string"
                      },
                      "ttl_deadline": {
                        "type": "string"
                      },
                      "agent_chain": {
                        "type": "array",
                        "items": {}
                      }
                    }
                  }
                }
              },
              "example": {
                "request": {
                  "model": "claude-opus-4-7",
                  "prompt": "Stream a short greeting.",
                  "max_tokens": 100,
                  "temperature": 0.7,
                  "top_p": 1,
                  "stop_sequences": [],
                  "task_tag": "test",
                  "provider_hint": "anthropic",
                  "tools": [],
                  "stream": true
                },
                "context": {
                  "agent_id": "<id from agent-runtime-agents>",
                  "run_id": "<id from agent-runtime-runs>",
                  "acting_persona_id": "<id from personas>",
                  "tenant_id": "<id from auth>",
                  "trace_id": "<generated uuid>",
                  "span_id": "<generated uuid>",
                  "ttl_deadline": "<generated futuredatetime>",
                  "agent_chain": []
                }
              }
            }
          }
        }
      }
    },
    "events://ai_gateway.tenant_credential": {
      "event_contract": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Three event types registered with regulated retention",
        "description": "Contract-only anchor for the three ai_gateway.tenant_credential.{bound,rotated,revoked}.v1 event types declared in packages/contracts/src/events.ts, all registered with regulated retention and an event-sourcing conflict policy. They are emitted as a side effect of the bind (POST), rotate (PATCH) and revoke (DELETE) /api/ai-gateway/tenant-credentials endpoints. QA edge cases: this definition declares no runtime surface — there is no route, no handler and therefore no error response of its own, so producer-side correctness must be asserted through those three endpoints' integration tests rather than here; the security-critical property to verify on the producer side is that no event payload ever carries raw_key or credential_envelope (last_4 and binding metadata only); because retention is 'regulated' these events are subject to the longer retention class, and because emission is best-effort inside the credential service a successful 2xx from bind/rotate/revoke does not by itself prove the event was appended.",
        "operationId": "event_contract_events_ai_gateway_tenant_credential",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "ai_gateway.tenant_credential_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event_types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "retention_class": {
                    "type": "string"
                  },
                  "conflict_policy": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "event_types": [
                  "ai_gateway.tenant_credential.bound.v1",
                  "ai_gateway.tenant_credential.rotated.v1",
                  "ai_gateway.tenant_credential.revoked.v1"
                ],
                "retention_class": "regulated",
                "conflict_policy": "event-sourcing"
              }
            }
          }
        }
      }
    },
    "/api/ai-gateway/tenant-credentials/{binding_id}": {
      "delete": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Revoke an active binding with a reason",
        "description": "Revokes an active tenant credential binding (FR-BYOK-6), requiring a human-readable reason of at least 6 characters after trimming — mirroring the CMEK BYOK revoke pattern so the audit ledger always carries a justification. QA edge cases: the reason guard trims first, so a body of six spaces is rejected as a 400 while 'typo!!' is accepted — assert the trim, not just the length; as with rotate, the 404-vs-500 split is decided by testing the thrown error message for the substring 'not found', so an unknown binding_id is a 404 and everything else is a 500; revoking an ALREADY-revoked binding is not idempotent-safe — the second call no longer matches an active row and returns 404 rather than 200, which is the repeat-call case to cover; revocation is a soft state change, so the binding row remains listable with a revoked status rather than disappearing; the important downstream effect is that completions for that (tenant, provider) fall back to the platform credential and start billing the markup SKU again, which is worth asserting end-to-end.",
        "operationId": "delete_api_ai_gateway_tenant_credentials_binding_id",
        "parameters": [
          {
            "name": "binding_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "binding_id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — binding_id path param is required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "NotFound — <error message containing \"not found\">"
          },
          "500": {
            "description": "RevokeFailed — <underlying error message> | revoke failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "patch": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Rotate the raw key on an existing binding",
        "description": "Rotates the raw API key on an existing active tenant credential binding (FR-BYOK-5). binding_id and bound_at are preserved across the rotation so downstream references stay valid; only the enveloped key material and the rotation metadata change, and the response again never exposes raw_key or credential_envelope. QA edge cases: the 404-vs-500 split is message-driven, not type-driven — the handler inspects the thrown error string for the substring 'not found', so an unknown or already-revoked binding_id returns 404 while every other failure returns 500; that also means a future error message that happens to contain 'not found' would be misclassified; raw_key must be at least 8 characters (the same non-trivial-string guard as bind), so a rotation to an empty or short key is a 400; the endpoint does NOT verify the new key against the provider, so rotating to a syntactically valid but revoked upstream key succeeds here and only fails later at completion time; rotation is not idempotent in effect — each call re-envelopes and re-stamps, and the previous key material is not recoverable afterwards.",
        "operationId": "patch_api_ai_gateway_tenant_credentials_binding_id",
        "parameters": [
          {
            "name": "binding_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "binding_id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "tenant_credential_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "raw_key": "sk-test-NEWDUMMYKEYAFTERROTATE",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — binding_id path param is required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "NotFound — <error message containing \"not found\">"
          },
          "500": {
            "description": "RotateFailed — <underlying error message> | rotate failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "raw_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "raw_key": "{{static:sk-test-NEWDUMMYKEYAFTERROTATE}}"
              }
            }
          }
        }
      }
    },
    "/api/ai-gateway/tenant-credentials": {
      "get": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "List bindings for a tenant",
        "description": "Lists a tenant's AI provider credential bindings for the tenant-admin UI. Each entry carries the binding lifecycle metadata plus last_4 of the key; credential_envelope is never returned, which is the primary security assertion — a response containing envelope bytes or a full key is a defect. QA edge cases: tenant_id is a REQUIRED query param and is read straight from the URL rather than from the caller's JWT claims, so an authenticated user of tenant A can list tenant B's bindings by changing the query string — that cross-tenant isolation gap is the most valuable test here; an unknown tenant_id returns 200 with an empty bindings array rather than a 404, so 'no such tenant' and 'tenant with no bindings' are indistinguishable; the listing is unpaginated with no limit/offset and no status filter, so revoked bindings are returned alongside active ones and must be filtered client-side; any database failure is flattened to a generic 500 'list failed' with the real cause only in the server log.",
        "operationId": "get_api_ai_gateway_tenant_credentials",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "tenant_credential_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "status": "active"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — tenant_id query param is required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "ListFailed — list failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "sdk-ai-gateway"
        ],
        "summary": "Bind an OpenAI key for the tenant",
        "description": "Binds a tenant's own AI provider API key (BYOK, FR-BYOK-3). The raw key is enveloped by the credential service and the response deliberately contains only the binding metadata plus a last_4 — never raw_key and never credential_envelope, which is the primary security assertion for this endpoint. Optional model_allowlist restricts which models may use the tenant key, and fallback_on_error controls whether a failing tenant key falls back to the platform credential. QA edge cases: provider_id must be one of exactly anthropic, openai, bedrock or gemini — anything else is a 400 naming the unsupported value; raw_key must be a string of at least 8 characters, so a short or trimmed-to-empty key is a 400 rather than a provider-side failure at call time; every non-validation failure, including a duplicate active binding for the same (tenant_id, provider_id), surfaces as a 500 rather than a 409, so a re-bind test must expect 500 with the constraint message; the actor recorded on the binding falls back to the literal 'tenant-admin-ui' when the JWT carries no persona_id or sub; a model_allowlist that omits the model actually requested later does not fail here — it silently causes fall-through to the platform credential at completion time.",
        "operationId": "post_api_ai_gateway_tenant_credentials",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "tenant_credential_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "tenant_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "provider_id": "openai",
                    "raw_key": "sk-test-DUMMYKEYFORTESTING",
                    "model_allowlist": [
                      "gpt-4o",
                      "gpt-4o-mini"
                    ],
                    "fallback_on_error": true,
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "ValidationError — tenant_id, provider_id, raw_key are required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "BindFailed — <underlying error message> | bind failed"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tenant_id": {
                    "type": "string"
                  },
                  "provider_id": {
                    "type": "string"
                  },
                  "raw_key": {
                    "type": "string"
                  },
                  "model_allowlist": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "fallback_on_error": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "tenant_id": "<id from auth>",
                "provider_id": "openai",
                "raw_key": "{{static:sk-test-DUMMYKEYFORTESTING}}",
                "model_allowlist": [
                  "gpt-4o",
                  "gpt-4o-mini"
                ],
                "fallback_on_error": true
              }
            }
          }
        }
      }
    },
    "/api/analytics/builds/{build_id}/export": {
      "post": {
        "tags": [
          "sdk-analytics"
        ],
        "summary": "Export a built dataset to the warehouse",
        "description": "Exports an already-materialized dataset build to the warehouse / object store, optionally targeting a named destination via body.target (omitting it uses the configured default). Edge cases: an unknown build_id or a build owned by another tenant returns 404; the body is entirely optional; re-exporting the same build is allowed and simply overwrites/re-emits the artifact; large builds and object-store failures surface as 500.",
        "operationId": "post_api_analytics_builds_build_id_export",
        "parameters": [
          {
            "name": "build_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "build_id path parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "export_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "target": "iceberg://warehouse/datasets",
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "BadRequest — tenant context required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "404": {
            "description": "NotFound — dataset build not found"
          },
          "500": {
            "description": "InternalError — <error message from exportDatasetBuild>"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "target": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "target": "iceberg://warehouse/datasets"
              }
            }
          }
        }
      }
    },
    "/api/analytics/datasets": {
      "get": {
        "tags": [
          "sdk-analytics"
        ],
        "summary": "List dataset specs for the tenant",
        "description": "Lists every dataset spec belonging to the caller's tenant. Tenant scoping comes from the JWT claim, so a caller can never see another tenant's specs and a token with no tenant claim is rejected 400. Edge cases: a tenant with no specs returns an empty array with 200 (not 404); the endpoint takes no filter/pagination params, so the full spec list is returned each call.",
        "operationId": "get_api_analytics_datasets",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": [
                    {
                      "dataset_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                      "status": "active"
                    }
                  ],
                  "total": 1
                }
              }
            }
          },
          "400": {
            "description": "BadRequest — tenant context required"
          },
          "401": {
            "description": "Unauthorized — Missing bearer token"
          },
          "500": {
            "description": "InternalError — <error message from listDatasetSpecs>"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "tags": [
          "sdk-analytics"
        ],
        "summary": "Register a per-minute feature dataset spec",
        "description": "Registers an ML feature/training-dataset spec (name + asset_id required; optional sensor_ids, grain, aggregations, label_source). tenant_id is taken from the JWT claim and never from the body, so specs are strictly tenant-scoped and a token without a tenant claim is rejected 400. Edge cases: missing name or asset_id -> 400; an empty or omitted sensor_ids means the spec covers every sensor on the asset; the route does not pre-validate that asset_id/sensor_ids exist, so a bad reference surfaces as a 500 from the insert; the call is NOT idempotent - repeating it with the same name creates another spec.",
        "operationId": "post_api_analytics_datasets",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "data": {
                    "dataset_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "name": "Acme QA Sample",
                    "asset_id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "sensor_ids": [],
                    "grain": "minute",
                    "aggregations": [
                      "avg",
                      "min",
                      "max",
                      "last",
                      "count"
                    ],
                    "label_source": {
                      "kind": "intervals",
                      "default_label": 0,
                      "intervals": []
                    },
                    "status": "active",
                    "created_at": "2026-01-15T10:30:00Z",
                    "updated_at": "2026-01-15T10:30:00Z"
                  }
[...]
